.check {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 28px 14px rgba(255, 255, 255, 1.4);
    position: absolute;
    margin-top: -500px;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;

}

.check::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.check::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}
.user-check{
    width: 100%;
    height: auto;
}
.user-check h1{
    font-size: 20px;
}
.user-br{
    width: 100%;
    height: 1px;
    background: #000;
}